html,
body {
  height: 100%;
  background-color: #333;
}
body {
  min-height: 1000px;
  padding-top: 90px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.jumbotron{
  background-color: #2d2727;
}


